:root{
    --light: #FDF5EA;
    --beige: #E6C9AB;
    --red:#912A23;
    --dark: #1D2F47;
    --mint: #7FD2A6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: var(--dark;);
    height: 100%;
}

header{
    background: var(--light);
}

header div.header_wrapper{
    height: 125px;
    padding: 25px 15px 0 15px;
    border-top: 15px solid var(--beige);
}

#big_header_text{
    color: var(--beige);
    font-size: 50px;
    font-weight: 500;
    /* text-shadow: 3px 3px 5px rgba(72, 66, 75, 0.623); */
}
#sm_header_text{
    color: var(--beige);
    font-size: 16px;
    /* text-shadow: 3px 3px 5px rgba(72, 66, 75, 0.623); */
}

.results{
    padding:80 px 0 100px 0;
    height: 100%;
}

main{
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#results{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/*results js set attribute */
.state-card-div{
    /* border: 0.2px solid #EDE5DC; */
    /* background: var(--light); */
    max-width: 48%;
    min-width: 320px;
    padding-right: 2%;
    padding-left: 2%;
    /*align-items: space-evenly;
    justify-content: space-between; */
    /* transition: all 0.3s ease;
    box-shadow: opx 4px 8px 0 rgba(0,0,0,0.2); */
}

.card-header-div{
    border: 0.1px solid #EDE5DC;
    display: flex;
    justify-content: space-evenly;
    /* max-width: 640px; */
    padding: 10px;
    width: 100%;
    border-radius: 7px;
    background: var(--beige);
}

.stats-wrapper{
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.general-stats-div{
    background: var(--dark);
    border: 0.1px solid #EDE5DC;
    max-width: 50%;
    min-width: 300px;
    min-height: 320px;
    margin: 0;
    width: 50%;
    padding: 20px 20px 20px 20px;
    border-radius: 7px;
}

.risk-level-div{
    background: var(--dark);
    border: 0.1px solid #EDE5DC;
    max-width: 50%;
    min-width: 300px;
    min-height: 320px;
    margin: 0;
    width: 50%;
    padding: 20px 20px 20px 20px;
    border-radius: 7px;
}

.risk-level-div h3{
    padding-top:20px;
}

.vaccine-stats-div{
    background: var(--dark);
    border: 0.1px solid #EDE5DC;
    max-width: 50%;
    min-width: 300px;
    min-height: 320px;
    width: 50%;
    margin: 0;
    padding: 20px 20px 20px 20px;
    border-radius: 7px;
}

.icu-stats-div{
    background: var(--dark);
    border: 0.1px solid #EDE5DC;
    max-width: 50%;
    min-width: 50%;
    min-height: 320px;
    width: 50%;
    margin: 0;
    padding: 20px 20px 20px 20px;
    border-radius: 7px;
}

.state-name-card-header{
    color: var(--red);
}

.pop-card-header{
    color: var(--dark);
}

.gen-stats-header{
    color: var(--beige);
}

.daily-stats-div{
    color: var(--mint);
}

.new-cases-txt{
    color: var(--mint);
}

.new-deaths-txt{
    color: var(--mint);
}

.total-stats{
    color: var(--mint);
}

.total-cases-txt{
    color: var(--mint);
}

.total-deaths-txt{
    color: var(--mint);
}

.infection-rate-txt{
    color: var(--mint);
}

/* risk level displays div's styled here */
.risk-level-header{
    color: var(--beige);
}

.risk-level-header2{
    color: var(--mint);
}

.risk-level-desc-header{
    color: var(--mint);
}

.risk-level-txt{
    color: var(--mint);
}

#risk-wrapper{
    display: flex;
    height: 28px;
    justify-content: center;
    color: var(--mint);
}


.riskLevel-5{
    background-color: red;
    width:24px;
    height:30px;
    margin-top: 2px;
    border-radius: 40% 40% 0 0;
    transform: rotate(-90deg);
}

.riskLevel-4{
    background-color:orange;
    width:24px;
    height:30px;
    margin-top: 2px;
    transform: rotate(-90deg);
}

.riskLevel-3{
    background-color:yellow;
    width:24px;
    height:30px;
    margin-top:2px;
    transform: rotate(-90deg);
}

.riskLevel-2{
    background-color: greenyellow;
    width:24px;
    height:30px;
    margin-top: 2px;
    transform: rotate(-90deg);
}

.riskLevel-1{
    background-color:green;
    width:24px;
    height:30px;
    margin-top: 2px;
    border-radius: 0 0 40% 40%;
    transform: rotate(-90deg);
}

.selected-level{
    width:26px;
    height:30px;
    border: 3px solid black;
    padding: 3px 0 3px 0;
    z-index: 10;
}

/* VACCINATIONS STYLES */

.vaccination-header{
    color: var(--beige);
}

/* .completed{

} */

.vaccinations-completed-txt{
    color: var(--mint);
}

.completed-percentages-txt{
    color: var(--mint);
}

/* vaccine progress bars here */

.completed div{
    display:flex;
    flex-direction: row;
}
.completed div p{
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.completedBar{
    border-radius: 40px;
    background-color: red;
    height:20px;
    width: 150px;
}

.completedProgress{
    border-radius: 40px 0 0 40px;
    background-color: green;
    height:20px;
    margin: 0;
}


.initiated div{
      display:flex;
      flex-direction: row;
}

.initiated div p{
    margin-bottom: 0;
    padding-right: 20px;
}

.initiatedBar{
    border-radius: 40px;
    background-color: red;
    height:20px;
    width: 150px;
    justify-content: start;
}

.initiatedProgress{
    border-radius: 40px 0 0 40px;
    background-color: green;
    height:20px;
    margin: 0;
}

/* Media breakpoint #1 @ 1420, look to remove padding between cards first.
Secondly padding inside individual cards i.e  for the icu card (padding: 20px 0 0 20px;)
*/

@media screen and (max-width: 1400px) {
    .state-card-div{
        padding-left: 1%;
        padding-right: 1%;
    }

    .general-stats-div{
        background: var(--dark);
        border: 0.1px solid #EDE5DC;
        max-width: 100%;
        min-width: 300px;
        height:200px;
        margin: 0;
        width: 100%;
        padding: 20px 20px 20px 20px;
        border-radius: 7px;
    }

    .risk-level-div{
        background: var(--dark);
        border: 0.1px solid #EDE5DC;
        max-width: 100%;
        min-width: 300px;
        min-height: 320px;
        margin: 0;
        width: 100%;
        padding: 20px 20px 20px 20px;
        border-radius: 7px;
    }

    .vaccine-stats-div{
        background: var(--dark);
        border: 0.1px solid #EDE5DC;
        max-width: 100%;
        min-width: 300px;
        min-height: 320px;
        width: 100%;
        margin: 0;
        padding: 20px 20px 20px 20px;
        border-radius: 7px;
    }

    .icu-stats-div{
        background: var(--dark);
        border: 0.1px solid #EDE5DC;
        max-width: 100%;
        min-width: 100%;
        min-height: 320px;
        width: 100%;
        margin: 0;
        padding: 20px 20px 20px 20px;
        border-radius: 7px;
    }

    .daily-stats{
        display: flex;
        padding-right: 12px;
        flex-direction: row;
    }

    .daily-stats p{
        width: 50%;
    }

    .total-stats{
        display: flex;
        padding-right: 12px;
        flex-direction: row;
    }

    .total-stats p{
        width: 50%;
    }





}

@media screen and (max-width: 1100px) {
    .state-card-div{
        padding-left: .5%;
        padding-right: .5%;
    }

    .daily-stats{
        display: flex;
        padding-right: 0;
        flex-direction: column;
    }

    .total-stats{
        display: flex;
        padding-right: 0px;
        flex-direction: column;

    }
    .card-header-div{
        display:flex;
        flex-direction: column;
        text-align: center;
    }

    .general-stats-div{
        text-align: center;
    }

    .daily-stats p{
        text-align: center;
        width:100%;
    }

    .total-stats p{
        text-align: center;
        width:100%;
    }

    .risk-level-div{
        text-align: center;
    }

    .vaccine-stats-div{
        text-align: center;
    }

    .completedBar{
        margin:auto;
    }

    .initiatedBar{
        margin:auto;
    }


}
