:root{
    --light: #FDF5EA;
    --beige: #E6C9AB;
    --red:#912A23;
    --dark: #1D2F47;
    --mint: #7FD2A6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: var(--dark);
    display: flex;
    flex-direction: column;
    flex-shrink: 3;
    height: 100%;
}

header{
    background: var(--light);
}

header div.header_wrapper{
    height: 125px;
    padding: 25px 15px 0 15px;
    border-top: 15px solid var(--beige);
}

#big_header_text{
    color: var(--beige);
    font-size: 50px;
    font-weight: 500;
    /* text-shadow: 3px 3px 5px rgba(72, 66, 75, 0.623); */
}

#sm_header_text{
    color: var(--beige);
    font-size: 16px;
    /* text-shadow: 3px 3px 5px rgba(72, 66, 75, 0.623); */
}

main{
    height: 100%;
    padding: 0 15px 10px 10px;
}

div.mission_wrapper{
    background: var(--light);
    border-top: 1px solid #912a2349;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 175px;
    padding: 10px 20px 20px 10px;
}

.mission_header_wrapper{
    height: 150px;
    margin: 0;
    padding: 20px 10px;
    /* position: relative;
    top: 50px;
    right: 20px; */
    /* transform: rotate(-90deg); */
    width: fit-content;
}

.mission_header{
    color: var(--dark);
    font-size: 28px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

}

.mission_text_wrapper{
    margin: 0;
    min-width: 340px;
    height: auto;
    padding: 20px 20px 20px 20px;
}

.mission_text{
    color: var(--red);
    font-size: 14px;
}

.search_bar_wrapper{
    background: var(--dark);
    border: 5px solid var(--dark);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    height: auto;
    padding: 10px 20px 10px 0;
    width: 100%;
    margin: 0;
}

div.search_bar_wrapper.row{
    margin: 0;
    width: 100%;
}

/* .search_bar_text_wrapper{
    padding: 30px 0 25px 10px;
    width: 155px;
} */

/* .search_bar_text{
    color: #D6D6D6;
    font-size: 15px;
} */

/* form.search_form,
div.input-group{
    padding: 10px 10px;
}

form.search_form{
    display: inline-flex;
    flex-direction: row;
} */

/* div.input-group{
    display: flex;
    flex-wrap: nowrap;
} */

/* input.input{
    padding: 0;
    width: 100%;
    height: 40px;
}

input[type=text] {
    font-size: 18px;
} */

.custom-btn{
    background: #2d4e79;
    border: 0.5px solid #d6d6d6cc;
    color: var(--light);
    font-size: 18px;
    margin: 10px 4px 4px 4px;
    float:right;
}

.custom-btn:hover{
    background: #223c5e;
    border-color: #faf9f7e0;
    color: var(--mint);
}

.dropdown-menu{
    max-height: 250px;
    overflow-y: auto;
}

.btn-primary{
    background: #2d4e79;
    border: 0.5px solid #d6d6d6cc;
    color: var(--light);
}

.btn-primary:hover{
    background: #223c5e;
    border-color: #faf9f7e0;
    color: var(--mint);
}

/* .dropdown-item{
    overflow: auto;

} */

.travel_advisory_container{
    background: var(--light);
    border-top: 5px solid #222421;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.alert-danger{
    padding: 10px;
    margin: 10px;
}

.travel_advisory_text{
    color: #5B100B;
    font-size: 20px;
    font-weight: 400;
    padding: 15px 30px;
    margin: 0;
    align-content: center;
}

.appreciation_box_wrapper{
    background-image: url(../../assets/images/frontline_03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
}

.background_img_screen{
    background-color: #00000095;
    width: 100%;
    height:auto;
}

.appreciation_text_wrapper{
    display: flex;
    flex-direction: column;
    flex-shrink: 3;
    padding: 50px 20px;
    height: 250px;
}

.appreciation_text{
    display: flex;
    /* flex-wrap: nowrap; */
    font-size: 35px;
    color: var(--mint);
    margin: 0;
    height: 50px;
    line-height: 1;
    align-items: center;
    justify-content: center;
}

#app_text_top{
    font-size: 30px;
    font-weight: 500;
    /* position: relative; */
    padding: 0 35px;
    width: 350px;
}

#app_text_bottom{
    height: 40px;
    width: 400px;
    font-weight: 600;
    /* position: relative; */
    /* bottom: 30px; */
    padding: 0 20px;
    font-size: 30px;
}

/* footer styling below*/
footer div{
    display: flex;
    flex-direction: row;
}

footer div h4{
    color:var(--secondary-text);
    margin:5px;

}

footer h4{
    margin:5px;
}

.creators{
    justify-content: center;
}

footer div a{
    color:var(--accent-color);
    background-color: var(--primary-text);
    height: 28px;
    border-radius: 6px;
    margin:5px;
}

footer div a:hover{
    color:var(--accent-color);
    background-color: var(--secondary-text);
}

footer div a i{
    font-size: 22px;
    padding:3px;

}

footer div :nth-child(4){
    margin-left:25px;
}

footer div :nth-child(3){
    margin-right:25px;
}


/* 600px width breaking point */
