/* =================== */
/* Samuel Maddox Notes */
/* =================== */
/*
    Maybe a personal preference, but i'd move the css folder out of the develop folder and into
    the assets folder. Same for the js folder. The html folder I would have those html files moved
    into the root folder. If you start to get too many html files in the project root then you can
    create sub folders that are named based on website sections. This makes the url more 
    readable/memorable.
*/
/* =================== */
/* End Samuel Notes    */
/* =================== */

:root{
    --accent-color: #2CBDF6;
    --primary-txt: #FFFFFF;
    --secondary-txt: #B3B3B3;
    --background:#282828;
    --darker: #181818;
    --darkest: #121212;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    position: relative;
}

body{
    background: var(--darker);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header{
    background: var(--background);
}

header div.header_wrapper{
    height: 200px;
    padding: 15px 15px 0 30px;
    border-top: 15px solid var(--background);
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}

#covid-vector{
    height: 100px;
    width:100px;
    position: relative;
    bottom: 7px;
}

#big_header_text{
    color: var(--accent-color);
    font-size: 65px;
    font-weight: 500;
    /* text-shadow: 3px 3px 5px rgba(72, 66, 75, 0.623); */
}

#woke-header-txt{
    color: var(--accent-color);
    position: relative;
    top: 30px;
    right: 70px;
    font-size: 50px;
    padding-bottom: 10px;
    /* text-shadow: 3px 3px 5px rgba(72, 66, 75, 0.623); */
}

main{
    height: 100%;
    padding: 0 15px 10px 10px;
}

div.mission_wrapper{
    background: var(--darker);
    border-top: 1px solid #912a2349;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 250px;
    padding: 20px 20px 20px 10px;
}

.mission_header_wrapper{
    height: auto;
    margin: 0;
    padding: 20px 10px;
    transform: rotate(-90deg);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative;
    top: 5px;
    right: 75px; */
}

h1.mission_header{
    color: var(--primary-txt);
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: fit-content;
    text-shadow: 2px 2px 3px #2cbdf6cb;
}

.mission_text_wrapper{
    margin: 0;
    max-width: 650px;
    height: auto;
    padding: 20px 20px 20px 20px;
    position: relative;
    top: 25px;
    right: 50px;

}

.mission_text{
    color: var(--secondary-txt);
    font-size: 14px;
}

.search_bar_wrapper{
    background: #00000095;
    border: 5px solid transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    height: auto;
    padding: 2px 20px 2px 0;
    width: 100%;
    margin: 0;
}

div.search_bar_wrapper.row{
    margin: 0;
    width: 100%;
    padding: 12px 0 12px 0;
}

/* submit button */
.custom-btn{
    background: #089dd8;
    border: 0.5px solid #d6d6d6cc;
    color: var(--primary-txt);
    font-size: 18px;
    margin: 2px 2px 2px 2px;
}

.custom-btn:hover{
    background: var(--accent-color);
    border-color: #faf9f7e0;
    color: var(--primary-txt);
}

.dropdown-menu{
    max-height: 250px;
    overflow-y: auto;
}

/* search button */
.btn-primary{
    background: #089dd8;
    border: 0.5px solid #d6d6d6cc;
    color: var(--primary-txt);
}

.btn-primary:hover{
    background: var(--accent-color);
    border-color: #faf9f7e0;
    color: var(--primary-txt);
}

.travel_advisory_container{
    background: var(--darker);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}

.alert-danger{
    padding: 7px 15px 7px 20px;
    margin: 10px;
    background: #898b8b;
    border: 1px solid #d6d6d6cc;
    color: #810103;
}

.travel_advisory_text{
    color: #bb0003;
    font-size: 20px;
    font-weight: 400;
    padding: 15px 30px;
    margin: 0;
    align-content: center;
}

.appreciation_box_wrapper{
    background-image: url(../../assets/images/frontline_03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.background_img_screen{
    background-color: #00000095;
    width: 100%;
    height: fit-content;
}

div.appreciation_text_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 3;
    padding: 50px 20px;
    height: 550px;
}

.appreciation_text{
    display: flex;
    color: var(--accent-color);
    margin: 0;
    height: 50px;
    line-height: 1;
}

#app_text_top{
    font-size: 50px;
    font-weight: 500;
    /* position: relative; */
    padding: 6px;
    /* width: auto; */
}

#app_text_bottom{
    /* width: auto; */
    font-weight: 600;
    /* position: relative;
    left: 100px; */
    padding: 6px;
    font-size: 52px;
}

/* footer styling below*/
footer div{
    display: flex;
    flex-direction: row;
}

footer div h4{
    color:var(--secondary-txt);
    margin:5px;

}

footer h4{
    margin:5px;
}

.creators{
    justify-content: center;
}

footer div a{
    color:var(--accent-color);
    background-color: var(--primary-txt);
    height: 28px;
    border-radius: 6px;
    margin:5px;
}

footer div a:hover{
    color:var(--accent-color);
    background-color: var(--secondary-text);
}

footer div a i{
    font-size: 22px;
    padding:3px;

}

footer div :nth-child(4){
    margin-left:25px;
}

footer div :nth-child(3){
    margin-right:25px;
}

/* =================== */
/* Samuel Maddox Notes */
/* =================== */
/*
    It is recomended that the above styles be set for how the page should work on mobile, and then
    using meia queries to have the styles change as the page grows into the desktop version.
    Use min-width instead of max-width, bring above styles down into the quries and bring the below 
    styles up outside of the quries. Also, if a style is specified above it doesn't need specified 
    below. EX: the .mission_text_wrapper class has the 'position: relative' style applied above. 
    It doesn't need to be specified again in these media queries if it never changes value on screen
    size. However, you are correct that the 'right: 45px` needs to be added as that style changes
    with the screen.
*/
/* =================== */
/* End Samuel Notes    */
/* =================== */

@media screen and (max-width: 1660px){
    .mission_text_wrapper{
        position: relative;
        right: 45px;

    }
}

@media screen and (max-width: 1565px){
    .mission_text_wrapper{
        position: relative;
        right: 40px;

    }
}

@media screen and (max-width: 1400px){
    .mission_text_wrapper{
        position: relative;
        right: 35px;

    }
}

@media screen and (max-width: 1368px){
    .mission_text_wrapper{
        margin: 0;
        max-width: 649px;
        position: relative;
        right: 30px;
    }
}

@media screen and (max-width: 989px){
    div.mission_wrapper{
        display: flex;
        justify-content: center;
    }

    .mission_header_wrapper{
        margin: 0;
        width: 100%;
        transform: none;
        padding-bottom: 0;
    }

    .mission_header{
        font-size: 40px;
    }

    .mission_text_wrapper{
        margin: 0;
        width: 100%;
        position: relative;
        left: 5px;
        padding-top: 0;
    }

    #app_text_top{
        font-size: 40px;
        padding-right: 8px;
    }

    #app_text_bottom{
        font-size: 42px;
        padding-left: 8px;
    }
}

@media screen and (max-width: 862px){
    div.mission_wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }
}

@media screen and (max-width: 821px){
    #app_text_top{
        font-size: 35px;
        padding-right: 8px;
    }

    #app_text_bottom{
        font-size: 37px;
        padding-left: 8px;
    }
}

@media screen and (max-width: 730px){

    div.appreciation_text_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 450px;
    }

    footer h4{
        font-size: 20px;
    }
}

@media screen and (max-width: 520px){
    .creators{
        display: flex;
        flex-direction: column;
    }

    .creator-m{
        display: flex;
        justify-content: center;
    }

    .creator-k{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:439px){
    #big_header_text{
        font-size: 55px;
    }

    #woke-header-txt{
        font-size:40px;
    }

    #app_text_top{
        font-size: 32px;
    }

    #app_text_bottom{
        font-size: 34px;
    }
}

@media screen and (max-width: 400px){
    .btn-primary{
        font-size: 16px;
    }

    #app_text_top{
        font-size: 27px;
    }

    #app_text_bottom{
        font-size: 29px;
    }
}

@media screen and (max-width:386px){
    #big_header_text{
        font-size: 45px;
    }

    #woke-header-txt{
        font-size:32px;
    }
}

@media screen and (max-width: 365px){
    .btn-primary{
        font-size: 14px;
    }

    #app_text_top{
        font-size: 23px;
    }

    #app_text_bottom{
        font-size: 25px;
    }
}

@media screen and (max-width:342px){
    #covid-vector{
        height: 90px;
        width:90px;
        position: relative;
        bottom: 7px;
    }

    #big_header_text{
        color: var(--accent-color);
        font-size: 42px;
        font-weight: 500;
        /* text-shadow: 3px 3px 5px rgba(72, 66, 75, 0.623); */
    }
}

@media screen and (max-width: 334px){
    .btn-primary{
        font-size: 12px;
    }
}

@media screen and (max-width:324px){
    #big_header_text{
        font-size: 38px;
    }

    #woke-header-txt{
        font-size:28px;
    }
}
